@model UluagroAspnet.Models.Role

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/AgroPark/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mb-4">
    <div class="text-center mb-4">
        <h5>Deyisikler ele</h5>
    </div>
    <form action="OneEdit" method="post">
        <table class="table">
            <tr class="text-center">
                <th>İcazənin adı</th>
                <th>Grupun adı</th>
                <th>Görmək</th>
                <th>Əlavə etmək</th>
                <th>Deyişmək</th>
                <th>Silmək</th>
                <th>@Html.LabelFor(model => model.ownerdata)</th>
            </tr>
            <tr class="text-center">
                <td hidden><input type="hidden" name="Id" value="@Model.Id" /></td>
                <td>
                    @Model.Action.Name
                    <input type="hidden" name="Action_id" value="@Model.Action_id" />
                </td>
                <td>
                    @Model.GROUP.Name
                    <input type="hidden" name="Group_id" value="@Model.Group_id" />
                </td>
                <td>
                    @Html.EditorFor(model => model.can_view)
                </td>
                <td>
                    @Html.EditorFor(model => model.can_add)
                </td>
                <td>
                    @Html.EditorFor(model => model.can_update)
                </td>
                <td>
                    @Html.EditorFor(model => model.can_delete)
                </td>
                <td>
                    @Html.EditorFor(model => model.ownerdata)
                </td>
            </tr>
        </table>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mr-3">Yadda saxla</button>
            <a class="btn btn-danger" href="@Url.Action("Index","GroupRoles")">Geriyə qayıt</a>
        </div>
    </form>
</div>


