@model UluagroAspnet.Models.Worker

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/AgroPark/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
            </div>

            <div class="col-md-12 mb-2 d-flex justify-content-between">
                <h4>Işçini redaktə et.</h4>
                <a href="@Url.Action("Index","Workers")" class="u_btn go_b_btn">Geri qayıt</a>
            </div>

            <hr />

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Ad</label>
                    <div>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Soyad</label>
                    <div>
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Ata adı</label>
                    <div>
                        @Html.EditorFor(model => model.Fathername, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fathername, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Tel</label>
                    <div>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Fin</label>
                    <div>
                        @Html.EditorFor(model => model.Fin_number, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fin_number, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Serial</label>
                    <div>
                        @Html.EditorFor(model => model.Serial_number, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Serial_number, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Doğum tarixi</label>
                    <div>
                        @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Maaş</label>
                    <div>
                        @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-12 d-none">
                <div class="form-group">
                    <label class="control-label">Daxil edildiyi tarix</label>
                    <div>
                        @Html.EditorFor(model => model.Create_data, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Create_data, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Vəzifə</label>
                    <div>
                        @Html.DropDownList("Professions_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Professions_id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Cinsi</label>
                    <div>
                        @Html.DropDownList("Gerder_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Gerder_id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Turniket nömrəsi</label>
                    <div>
                        @Html.EditorFor(model => model.TurniketID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TurniketID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-5">
                <div class="form-group">
                    <label class="control-label">Status</label>
                    <div>
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Status)
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 d-flex justify-content-center">
                <div class="form-group">
                    <div>
                        <input type="submit" value="Yadda saxla" class="u_btn sbm_btn" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}