@model UluagroAspnet.Models.WORK

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/AgroPark/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12 d-flex justify-content-between mb-3">
            <h4>Yeni İş Əlavə et</h4>
            <a href="@Url.Action("Index","WORKs")" class="u_btn go_b_btn">Geri qayit</a>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-6 mb-3">
            <div class="form-group">
                <label class="control-label">Kategoriya</label>
                <div>
                    @Html.DropDownList("WORK_CAT_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WORK_CAT_ID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <label class="control-label">Adı</label>
                <div>
                    @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Əlavə et" class="u_btn sbm_btn" />
                </div>
            </div>
        </div>
    </div>
    }
</div>
